<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="css/demo.css">
  <title>Demo Page</title>
</head>
<body>
  <div class="page">
    <h1>Demo Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas excepturi accusamus tempora voluptate placeat? Similique, odit molestiae, cupiditate quam tempore voluptate quo, eos vitae inventore minima eligendi aliquam mollitia, consequuntur.</p>
  </div>
</body>
</html>
